/*
CSS for XHTML instances converted from Formex for Legislative Summaries
*/

/* Bring back default appearance of superscript, as it's reset by eurlex.css */
div#text sup {
	/* vertical-align: super; */
	font-size: smaller;
}

div#text span.superscript {
	vertical-align: super;
	font-size: smaller;
}

div#text {
	font-family: Arial;
	font-size: medium;
	line-height: normal;
}

div#text .normal {
	text-align: justify;
	margin-top: 13px;
	margin-bottom: 0px;
}

div#text img {
 max-width: 100%;
}

div#text a:not([href*='eur-lex']):not([href^='.']):not([href^='#']):not([href^='/']):not([href^='javascrip']):not([href^='https://europa.eu/european-union/']):after {
    font-family: 'FontAwesome';
    content: "\f08e";
    vertical-align: super;
    font-size: smaller;
}

div#text .cell {
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}
div#text .lastmod {
	text-align: right;
	margin-top: 54px;
}
div#text .references {
	font-weight: bold;
	text-align: justify;
	margin-top: 13px;
	margin-bottom: 0px;
}
div#text .footnote {
    color: inherit;
    font-family: inherit;
}

div#text .ti-chapter, div#text h2.ti-chapter {
	font-size: medium;
	font-weight: bold;
	text-align: left;
	margin-top: 26px;
	margin-bottom: 13px;
	color: #444444;
}
div#text .ti-col {
	font-weight: bold;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}
div#text .ti-main, div#text h1.ti-main {
	font-size: 1.75em;
	font-weight: bold;
	text-align: center;
	margin-top: 54px;
	margin-bottom: 26px;
	color: #444444;
}
div#text .ti-section {
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	margin-top: 54px;
	margin-bottom: 26px;
	color: #444444;
}
div#text span.bold {
	font-weight: bold;
}
div#text span.italic {
	font-style: italic;
}
div#text ul {
	list-style-type: disc;
}

/* Replicate inline CSS in <head> which is stripped in embedded view */
div#text ul.none {
	list-style: none;
}
div#text div.npnop {
	float: left;
	padding-right: 5px;
}
